@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

*,
*:before,
*::after {
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Основные стили */
body {
  height: 100%;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  /* width: 80%; */
  min-height: 100vh;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  display: flex;
  flex-direction: column;
}

._anim-show {
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

._anim-show._active,
._active ._anim-show {
  opacity: 1;
  transform: translate(0px, 0px);
}

.wrapper._loaded {
  opacity: 1;
}

.wrapper._loaded header {
  transition: transform 0.8s ease 0.8s;
  transform: translate(0px, 0px);
}

.wrapper._loaded .page__pagination {
  transform: translate(0px, -50%);
  opacity: 1;
  visibility: visible;
  transition: transform 0.6s ease 0.8s;
}

.wrapper._free .page__pagination {
  transform: translate(50px, -50%);
  opacity: 0;
  transition: all 0.3s ease 0s;
}

/* Контейнер для центрирования содержимого */
.container {
  /* max-width: 1200px; */
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* Шапка */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #ffffff;
  color: #000000;
  padding: 20px 0;
  border-bottom: 5px solid #004494;
  transform: translate(0px, -100%);
}

header h1 {
  margin: 0;
}

.header__container {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Навигация */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

nav a:hover {
  color: #004494;
}

nav a._active {
  color: #004494;
}

#branding p {
  margin: 0;
  font-size: 12px;
}

.menu__icon {
  display: none;
}

.page {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.page__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.page__section {
  flex: 1 0 100%;
  position: relative;
}

#hero,
#advantages,
#solutions,
#missions,
#contact {
  top: 115px;
}

.page__pagination {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translate(50px, -50%);
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
}

.advantages__pagination {
  position: relative;
  transform: translate(50%, 50%);
  right: 50%;
  column-gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.advantages__bullet {
  width: 15px;
  height: 15px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 10px 0;
  border-radius: 50%;
  transition: background-color 0.3s ease 0s;
}

.advantages__bullet_active {
  background-color: #e8491d;
}

.page__bullet {
  width: 15px;
  height: 15px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 10px 0;
  border-radius: 50%;
  transition: background-color 0.3s ease 0s;
}

.page__bullet_active {
  background-color: #e8491d;
}

.page__scroll {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  background-color: rgba(0, 0, 0, 0.5);
}

.page__drag-scroll {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.section__content {
  position: relative;
  z-index: 2;
}

.section__body {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.section__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.6));
}

.section__image img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* Главный баннер */
#hero {
  color: #ffffff;
  display: flex;
  align-items: center;
  text-align: center;
}

.hero__title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

#hero .section__content {
  background-color: rgba(0, 0, 0, 0.5);
}

.hero__title {
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
  padding-top: 15px;
}

.hero__title._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.hero__sub-title {
  font-size: 1.2rem;
}

.hero__sub-title {
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.hero__sub-title._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.8s ease 0.4s;
}
#hero h1,
#hero p {
  text-shadow: 2px 2px #004494;
}

.cta {
  display: inline-block;
  padding: 10px 30px;
  background: #e8491d;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s ease;
  font-size: 16px;
}

#hero a {
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0.4s;
  margin-bottom: 20px;
}

#hero a._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.8s ease 0.8s;
}

.cta:hover {
  background: #cf391a;
}

#advantages {
  background: #ffffff;
}

#advantages h3,
h2 {
  text-align: center;
  margin-bottom: 30px;
}

#advantages ul {
  list-style: none;
  padding: 0;
}

#advantages ul li {
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #004494;
}

div.benefit-item {
  border: none;
  display: block;
}

div.benefit-item h3 {
  margin: 0;
}

.advantages__swiper-pagination {
  display: none;
}

.benefits-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* opacity: 0; */
  flex-wrap: wrap;
  gap: 55px 40px;
  margin: 0 auto;
}

.benefit-item {
  flex: 1 0 25%;
  min-width: 20px;
  min-height: 238px;
  overflow: hidden;
  transform: translate(0px, 50%);
  opacity: 0;
  transition: all 0.3s ease 0s;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.benefit-item span {
  color: #cf391a;
  padding-left: 5px;
  font-weight: bold;
  font-size: 18px;
}

.benefit-item__text {
  margin-top: 50px;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.benefit-item._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.8s ease 0.6s;
}

#solutions {
  background-color: #f5f5f5;
  color: #333; /* Темный текст для читаемости */
}

#solutions h2 {
  /* color: #004494; */
  margin-bottom: 10px;
}

#solutions h3 {
  margin-bottom: 50px;
}

#solutions ul {
  /* list-style: inside square;  */
}

#solutions li {
  /* list-style: none; */
  position: relative;
  margin-bottom: 5px;
  align-items: center;
  column-gap: 25px;
}

.solutions__list {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}

.solutions__item {
  flex: 0 1 100%;
  display: flex;
}

.solutions__text {
  font-size: 18px;
  line-height: 35px;
  display: flex;
  flex-direction: column;
}

.solutions__image img {
  width: auto;
  height: 75px;
  object-fit: contain;
}

/* Стилизация отзывов клиентов */
#missions {
  background: #f9f9f9;
}

#missions h2 {
  color: #ffffff;
}
.mission {
  padding: 10px 20px;
  margin-bottom: 20px;
  /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); */
  flex: 0 1 65%;
  /* min-height: 170px; */
}

.mission__items {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 50px;
}

.mission-content {
  /* font-style: italic; */
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 3rem;
  padding: 10px 20px;
  margin-top: 80px;
  letter-spacing: 1.3px;
}

.mission-author {
  text-align: right;
  display: block;
  color: #333;
  margin-top: 10px;
  font-weight: bold;
}

#contact {
  /* margin-bottom: 40px; */
  background-color: #333333;
  color: #ffffff;
  /* text-align: center; */
  /* padding: 20px 0; */
  /* top: 130px; */
}

/* #contact .section__content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
} */

/* Футер */
footer {
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
  margin-top: 100px;
  /* flex-shrink: 0; */
}

.footer__container {
  /* min-height: 100%;
  display: flex;
  flex-direction: column; */
  flex: 1;
}

footer p {
  margin: 0;
}

.feedback-form {
  /* background: #fff; */
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  position: relative;
}

.feedback-form::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.9) url("assets/loading.gif") center / 50px
    no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
}

.feedback-form._sending::after {
  opacity: 1;
  visibility: visible;
}
.feedback-form * {
  outline: none;
}

.feedback-form label {
  text-align: left;
  color: #fff;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input:focus {
  box-shadow: 0 0 15px #0c3a6e;
}

.form__input._error {
  box-shadow: 0 0 15px #cf391a;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
  transition: all 0.5s ease 0s;
}

.form-group textarea {
  min-height: 100px;
  resize: vertical;
}

.checkbox._error .checkbox__label::before {
  box-shadow: 0 0 15px #cf391a;
}

.checkbox__input {
  display: none;
  margin-bottom: 15px;
}

.checkbox__input:checked + .checkbox__label::after {
  transform: scale(1);
}

.checkbox__label {
  width: 100%;
  font-size: 16px !important;
  line-height: 140%;
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.checkbox__label::before {
  content: "";
  flex: 0 0 24px;
  height: 24px;
  align-self: flex-start;
  background-color: #fff;
  border-radius: 4px;
  margin: 0 10px 0 0;
}

.checkbox__label::after {
  transition: transform 0.5s ease 0s;
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: #e8491d;
  border-radius: 4px;
  transform: scale(0);
}

.checkbox__label a {
  color: #e8491d;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 60px;
  background-color: #004494;
  box-shadow: 0 5px 0 #0c3a6e;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: background-color 0.5s ease 0s;
  position: relative;
  top: 0;
}

.btn:hover {
  background-color: #135bac; /* Темно-зеленый цвет */
}

.btn:active {
  top: 3px;
  box-shadow: 0 2px 0 #0c3a6e;
}

/* .cta-button-fixed {
  position: fixed; /* Фиксированное позиционирование относительно окна браузера
  bottom: 20px; /* Отступ снизу
  right: 20px; /* Отступ справа 
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.cta-button-fixed:hover {
  background-color: white;
  color: #007bff;
  border: 1px solid #007bff;
} */

@media (max-width: 1680px) {
  .solutions__list {
    gap: 0;
  }
}

@media (max-width: 1440px) {
  .benefits-section {
    row-gap: 30px;
  }
  /* 
  .benefit-item__text {
    margin-top: 30px;
  }*/
  #advantages h3 {
    margin-bottom: 15px;
  }
}

@media (max-width: 1200px) {
  /* .benefits-section {
    gap: 40px;
  } */
  .benefit-item {
    flex: 1 0 35%;
  }
  .mission {
    flex: 0 1 100%;
  }
}

@media (max-width: 998px) {
  /* #hero,
  #advantages,
  #solutions,
  #missions,
  #contact {
    top: 130px;
  } */
  /* .container {
    width: 95%;
  } */

  .page__sub-title,
  #advantages h3 {
    margin-bottom: 15px;
  }

  /* #advantages h3 {
    font-size: 16px;
  } */

  nav ul li {
    margin: 0 5px;
  }

  .solutions__list {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px 30px;
    margin-top: 50px;
    padding: 0;
  }
  .solutions__item {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex: 0 1 45%;
  }
}

@media (max-width: 850px) {
  .benefit-item__text {
    flex-direction: column;
    align-items: center;
  }

  .benefit-item__text h3 {
    margin-bottom: 0 !important;
  }
}

@media (max-width: 767px) {
  .wrapper._loaded header {
    transition: none;
    transform: none;
  }

  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #000;
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon span {
    transition: all 0.3s;
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }

  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -150%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-color: #fff;
    z-index: 2;
  }

  .menu__list {
    display: flex;
    flex-direction: column;
    top: 105px;
    position: absolute;
  }

  .menu__list > li {
    flex-wrap: wrap;
    margin: 0px 0px 30px 30px;
  }

  .menu__list > li:last-child {
    margin-bottom: 0;
  }

  .menu__link {
    font-size: 24px;
    color: white;
    transition: color 0.3s ease 0s;
  }

  .header__logo {
    display: block;
    position: relative;
    z-index: 2;
  }

  .menu {
    margin-top: -13px;
  }

  nav a._active {
    color: #fff;
    text-shadow: 2px 2px #004494;
    text-decoration: underline;
  }

  #advantages,
  #solutions,
  #missions,
  #contact {
    top: 0px;
  }

  #advantages h3,
  h2 {
    margin-bottom: 20px;
  }

  #advantages {
    flex: 1 0 60% !important;
  }
  /* #advantages h3 {
    font-size: 16px;
  } */

  .benefit-item__text {
    /* margin-top: 70px; */
    /* flex: 1 0 65%; */
    /* width: 250px; */
  }

  .benefits-section {
    opacity: 1 !important;
    gap: 0;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .benefit-item {
    justify-content: flex-start;
  }

  .cta {
    font-size: 16px;
  }

  .advantage__slider-slide {
    width: 250px;
    /* justify-content: space-between; */
  }

  .advantage__slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
  }

  .solutions__list li {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    opacity: 1 !important;
  }

  .solutions__item {
    flex: 0 1 100%;
  }

  .solutions__text {
    margin-top: 0;
    line-height: 27px;
  }

  .mission-content {
    margin-top: 50px;
    line-height: 2.7rem;
    letter-spacing: 0.7px;
    padding: 10px;
  }
}

@media (max-width: 580px) {
  /* .benefit-item__text {
    flex-direction: row;
  } */
  .mission-content {
    line-height: 1.7rem;
    font-weight: normal;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .hero__sub-title {
    font-size: 1rem;
  }
  .hero__title {
    font-size: 2rem;
  }
  .mission {
    padding: 10px 20px;
  }
}
